:2015
startup php-fpm
gzip
fastcgi / 127.0.0.1:9000 php
log stdout
errors stderr
root /www/public
git {
	repo https://github.com/YOURLS/YOURLS.git
	path ../yourls-src
	interval 86400
	then /bin/sh /www/yourls-install.sh
}
rewrite / {
    to {uri} {uri}/ /yourls-loader.php?{query}
}
